{% extends "base.html" %} {% block content %}
<h1>Update User</h1>
<br />
<!-- form to update user first name, last name, email -->
<form action="{{url_for('admin_user', user_id=user.id)}}" method="POST">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input
      type="text"
      class="form-control"
      name="first_name"
      id="first_name"
      value="{{ user.first_name }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input
      type="text"
      class="form-control"
      name="last_name"
      id="last_name"
      value="{{ user.last_name }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="text"
      class="form-control"
      name="email"
      id="email"
      value="{{ user.email }}"
      required
    />
  </div>
  <br />
  <button class="btn btn-dark submit-btn" type="submit" id="add-warehouse-btn">
    Update
  </button>
</form>

{% endblock %}
