{% extends "base.html" %} {% block content %}
<h1>Login</h1>

<!-- flash messages if any -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}</p>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endwith %}

<br />
<!-- form to login user -->
<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" name="email" id="email" required/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" required/>
  </div>
  <br />
  <button class="btn btn-dark submit-btn" type="submit" id="add-warehouse-btn">
    Login
  </button>
</form>
{% endblock %}
