{% extends "base.html" %}{% block content %}
<h1>Warehouses</h1>

<!-- flash messages if any -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}</p>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endwith %}
  <br />
  {% if warehouses %} {% for warehouse in warehouses %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ warehouse.name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">Warehouse ID: {{ warehouse.id }}</h6>
      <p class="card-text warehouse-address"><strong>Address:</strong> {{ warehouse.address }}</p>
      <p class="card-text warehouse-desctiption"><strong>Description:</strong> {{warehouse.description}}</p>
      <a
        href="{{ url_for('inventory', warehouse_id=warehouse.id) }}"
        class="btn btn-primary"
        >Manage Inventory</a>
      <a
        href="{{ url_for('update_warehouse', id=warehouse.id) }}"
        class="btn btn-success"
        >Update Warehouse</a
      >
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
          >
            Delete Warehouse
          </button>
          <!-- modal -->
          <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">
                    Confirm Delete
                  </h5>
                </div>
                <div class="modal-body">
                  Deleting this warehouse will delete all associated inventory. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="button" class="btn btn-danger">
                    <a href="{{ url_for('delete_warehouse', id=warehouse.id) }}">Delete</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Delete Button -->
    </div>
  </div>
  <br />
  {% endfor %} {% else %}
  <h4>No Warehouses Found.</h4>
  <br>
  {% endif %}
  <a href="{{ url_for('add_warehouse') }}"><button class="btn btn-dark submit-btn">Add New Warehouse</button></a>
</div>
{% endblock %}
