{% extends "base.html" %} {% block content %}
<h1>Admin Page</h1>

<!-- flash messages if any -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}</p>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endwith %}
<br />

{% if users %}
<!-- create table to display all users info: id, first name, last name, email and buttons to update or delete the user  -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.title() }}</td>
        <td>
          <div class="d-grid gap-2">
            <button class="btn btn-success">
              <a href="{{ url_for('admin_user', user_id=user.id)}}">Update User</a>
            </button>
            <button class="btn btn-danger">
              <a href="{{ url_for('delete_user', user_id=user.id)}}">Delete User</a>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<h4>No Users Found.</h4>
{% endif %}
{% endblock %}
